body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px;
}

.search-container {
  margin-bottom: 20px;
}

#pokemonContainer {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: inline-block;
}
#pieDePagina {
  background-color: rgb(247, 234, 0);
  height: 80px;
  margin-top: 60vh;
}

#btnBuscar {
    background-image: url('./images/Pokebola-pokeball-png-0.png');
    background-size: 50px;
    background-position: center;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    font-size: 0px;
}
